{% extends "base.html" %}

{%block main%}

<h1> RTTA: Installation</h1>

<p>Installation is via pip.  To successfully install you will need a
compiler and python source code on your machine.  If you are using
home brew you are probally okay.  If you are running ubuntu and you've
never compiled something before you'll need to take some steps
first. </p>

<pre>
  # // Steps for ubuntu users
  # sudo apt install build-essential python-dev
</pre>

<p>Once that's out of the way you'll be able to install via pip:</p>

<pre>
  # pip install rtta
</pre>

<p>That's all.  Its installed</p>


{%endblock%}
